@model Vaccinator.Models.Injection

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Injection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personne.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personne.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personne.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personne.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccin.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaccin.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccin.Marque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaccin.Marque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdministration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdministration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateRappel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateRappel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
