@model Vaccinator.Models.Injection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Injection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personne.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personne.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personne.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personne.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccin.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaccin.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccin.Marque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaccin.Marque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdministration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdministration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateRappel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateRappel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
