@model IEnumerable<Vaccinator.Models.Injection>

<h1>Injections</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Personne.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personne.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaccin.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaccin.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdministration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRappel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccin.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccin.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdministration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRappel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
